        <div class="row" >
			<div id="prezentacja" class="col-md-12 col-lg-12 col-sm-12 prezentacja jumbotron"> 
				<div class="text-center">
                           <%= bootstrap_flash %>
				<h1 style="font-family: 'Arial'; font-weight:100; ">Design tree</h1>
				<h3 style="font-family: 'Arial'; font-weight:200; "> Your first design RPG. </h3> 

                        
                		</div>
			</div> 
	</div> 
        <div class="row" >
			<div id="prezentacja" class="col-md-12 col-lg-12 col-sm-12 prezentacja2 "> 
				<div class="text-center">
                           		<%= bootstrap_flash %>
					<h4 style="font-family: 'Arial'; font-weight:100; color: white "> Choose your branch:</h6>
                		</div>
			</div> 

	</div>
        <div class="row center" >
			
				<div class="col-md-3 col-lg-3 col-sm-3 circle center-block"> 
					<span class="header roboto">Graphic design</span>
				</div> 
				<div class="col-md-3 col-lg-3 col-sm-3 center-block circle"> 
					<span class="header roboto">Interaction design</span>
				</div> 
				<div class="col-md-3 col-lg-3 col-sm-3 circle center-block"> 
					<span class="header roboto">UX Design</span>
				</div>

	</div>
